@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.background');
  color: theme('colors.foreground');
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
