@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-dark-background text-dark-foreground font-sans;
  -webkit-font-smoothing: antialiased;
}

header {
  backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: transparent;
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-dark-background text-dark-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'GeistMono';
  src: url('../../src/app/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



